<footer>
  <div class="footer-container">
    <p>&copy; 2025 Adalab Grupo 2. <a> Conócenos </a></p>
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <img
          src="https://img.icons8.com/ios-filled/32/ffffff/facebook--v1.png"
          alt="Facebook"
        />
      </a>
      <a href="https://github.com" target="_blank">
        <img
          src="https://img.icons8.com/ios-filled/32/ffffff/github.png"
          alt="GitHub"
        />
      </a>
      <a href="https://linkedin.com" target="_blank">
        <img
          src="https://img.icons8.com/ios-filled/32/ffffff/linkedin.png"
          alt="LinkedIn"
        />
      </a>
    </div>
  </div>
</footer>
