<link rel="stylesheet" href="../scss/_header-formulario.scss" />
<header class="content_header">
  <section class="page_header">
    <img src="/images/logo_editado.png" alt="logo de la empresa" class="logo" />
    <img src="/images/menu.png" alt="icono menú" class="menu" />
  </section>

  <p class="welcome_text">
    <span class="letra_I">I</span>
    <span class="letra_M">M</span>
    <span class="letra_A">A</span>
    <span class="letra_G">G</span>
    <span class="letra_I">I</span>
    <span class="letra_N">N</span>
    <span class="letra_E">E</span>
  </p>

  <div class="links_desktop">
    <a href="contact.html" class="contact_link-desktop" target="_blank"> Conócenos </a>
  </div>

  <section class="menu_overview hidden">
    <article class="titles">
      <span class="title_company"> Adalab </span>
      <span class="title_group"> grupo 2 </span>
    </article>
    <nav class="links_header">
      <a href="contact.html" class="contact_link"> Conócenos </a>
    </nav>
    <img src="/images/cerrar_icono.png" alt="icono de cerrar la ventana" class="close_window" />
  </section>
</header>