<main id="_main">
  <section class="bigcontainer">
    <article class="main_image">
      <img src="./images/globos.jpg" alt="globos" />
    </article>

    <article class="containertext">
      <div class="nube">
      <h1 class="title">Personaliza tu tarjeta</h1>

      <h3 class="subtitle">
        Haz del cumpleaños una aventura mágica o heroica.
      </h3>
    </div>
      <p class="description">
        Elige entre nuestros diseños únicos de unicornios y superhéroes y crea
        una tarjeta de cumpleaños personalizada con el mensaje que tú quieras.
        Fácil, rápido y lleno de encanto. Creado con cariño por un equipo de
        programadoras creativas.
      </p>

      <div class="button_create">
        <a href="formulario.html" target="_blank">Crear ahora</a>
      </div>
    </article>
  </section>
</main>
